{% block content %}

	{# SIDEBAR MENU #}
	{% if (post.parent != false) or (post.children) and (post.post_type != 'sl_services_cpts') and (post.post_type != 'post') %}
	{% for item in menu %}
		{% if (item.current_item_ancestor == true) or (item.current == true and item.current_item_ancestor == false) %}
	    	<h3 class="sl_sidebar__title">{{ item.title }}</h3>
		{% endif %}
	{% endfor %}
	<ul class="sl_sidebar__menu">
		{% for item in menu %}
	    	{% if item.current_item_ancestor == true or (item.current == true and item.current_item_ancestor == false) %}
	        	{% for child in item.get_children %}
	            	<li class="{{ child.classes | join(' ') }}">
			        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

			        	{% if child.get_children != null %}
			        	<ul>
	                    	{% for grandchild in child.get_children %}
	                        	<li class="{{ grandchild.classes | join(' ') }}">
					            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
				            	</li>
	                		{% endfor %}
	                	</ul>
	            		{% endif %}
		        	</li>
	        	{% endfor %}
	    	{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{# END SIDEBAR MENU #}

	{% if option.sidebar %}

		<div class="sl_sidebar__repeater">
		
		{# LOOP THROUGH ADDRESSES #}
		{% for sidebar in option.sidebar %}

			{# ADD LINK WRAPPER TO CARD IF ACTIVE #}
			{% if sidebar.item.link_wrapper == true %}
				<a href="{{sidebar.item.link_url.url}}" target="{{sidebaritem.link_url.target}}" class="sl_sidebar__card-wrapper">
			{% endif %}

			<div class="sl_sidebar__card">
			{% if sidebar.item.title %}<h3>{{sidebar.item.title}}</h3>{% endif %}
			{% if sidebar.item.content %}{{sidebar.item.content}}{% endif %}
			</div>{# /.sl_sidebar__card #}

			{% if sidebar.item.link_wrapper == true %}
				</a>{# /.sl_sidebar__card-wrapper #}
			{% endif %}

 		{% endfor %}
 		</div>{# /.sl_sidebar__repeater #}
	{% endif %} 

{% endblock %}