<div class="sl_locations__slider">
	{% for location in sanity_locations %}
		<div class="sl_card sl_card--service-locations">
			<div class="sl_card__header">
				<h3>{{location.facilityName}}</h3>
			</div>{# /.sl_card__header #}
			{% if location.facilityImage %}
				<div class="sl_card__image" style="background-image: url({{location.facilityImage}})"></div>
			{% else %}
				<div class="sl_card__image" style="background-image: url({{site.url}}/wp-content/themes/slate/dist/img/location-thumbnail-fallback.jpg)"></div>
			{% endif %}
			<div class="sl_card__content">
				<a class="sl_card__address">{{location.facilityAddress}}
				<br>{% if location.facilityCity%}{{location.facilityCity}},{% endif %} {{location.facilityState}} {{location.facilityZip}}</a>
				{% if location.facilityPhone %}
					<a class="sl_card__phone" href="tel:{{location.facilityPhone}}">{{location.facilityPhone}}</a>
				{% endif %}
				{% if location.facilityDir %}<a class="sl_card__directions" href="{{location.facilityDir}}" target="_blank">Get Directions</a>{% endif %}
				{# <a class="sl_card__er">Reserve ER Visit</a> #}
				{% if location.facilityAnchor %}<a class="sl_card__facility" href="/locations/{{location.facilityAnchor}}">Facility Information</a>{% endif %}
				{% if location.facilitySite %}
					<a class="sl_card__website" href="{{location.facilitySite}}" target="_blank">Visit Website</a>
				{% endif %}
			</div>{# /.sl_card__content #}
		</div>{# /.sl_card #}
	{% endfor %}
</div>{# /.sl_locations__slider #}
<div class="sl_locations__slider-controls">
</div>