{% block html_head_container %}

{% include 'partials/base/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="sl_wrapper">
			<div class="off-canvas-wrapper">

				{# CONTACT POPUP - (Desktop) #}
					{# {% include 'partials/base/contact-popup.twig' %} #}
				{# END CONTACT POPUP #}

				{# CONTACT STICKY - (mobile) #}
					{# {% include 'partials/base/contact-mobile.twig' %} #}
				{# END CONTACT STICKY #}

				{# OFF-CANVAS MENU #}
				{% include "menu/offcanvas-menu.twig" with {'menu': menu.get_items} %}
				{# END OFF-CANVAS MENU #}
				
				<div class="off-canvas-content" data-off-canvas-content>

					{# HEADER #}
					<header id="sl_globalheader" class="sl_header" >

						{# NOTIFICATION BAR - (Desktop) #}
							{% include 'partials/base/notificationbar-desktop.twig' %}
						{# END NOTIFICATION BAR #}

						{% block header %}
							{% include 'partials/base/header.twig' %}
						{% endblock %}
					</header>
					{# END HEADER #}

					{# BREADCRUMBS #}
					{# adding these on templates instead of base.twig
					<div class="sl_inner">
						{{ function('get_breadcrumb') }}
					</div> #}
					{# END BREADCRUMBS #}

					{# PAGE CONTENT #}
					<section id="content" role="main" class="sl_content {% if post.thumbnail == null and post.map_header == 0 %}sl_content--no-image{% endif %}">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</section>
					{# END PAGE CONTENT #}

					{# BACK TO TOP BUTTON #}
					<a id="sl_backtop" class="sl_button sl_button--backtop hide-for-medium" href="#sl_globalheader" data-smooth-scroll>
						<i class="fa fa-angle-up" aria-hidden="true"></i>
					</a>
					{# END BACK TO TOP BUTTON #}
					
					{# FOOTER  #}
					{% block footer %}
						<footer id="footer">
							{% include 'partials/base/footer.twig' %}
						</footer>
						{{ function('wp_footer') }}
					{% endblock %}
					{# END FOOTER#}

				</div>{# /.off-canvas-content #}
			</div>{# /.off-canvas-wrapper #}

			{# NOTIFICATION BAR - (Mobile) #}
				{% include 'partials/base/notificationbar-mobile.twig' %}
			{# END NOTIFICATION BAR #}
		</div>{# /.sl_wrapper #}

		{# Google Translate Script #}
		{% if option.add_translate == 1 %}
			{{ option.translate_script|striptags('<script><a><span>') }}
		{% endif %}

	</body>
	
</html>
