{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
<article class="sl_content__inner">
  <section class="sl_content__header">
    <div class="sl_inner">
        <h2>Search results for: <strong>{{title}}</strong></h2>
        <h3>{% if posts is empty %}Sorry, there are no results that match your search. {% endif %}Try another search term...</h3>
        {% include "partials/sl_search.twig" %}
    </div>
  </section>
  <section class="sl_content__body">
    <div class="sl_inner">
          <main id="main" class="sl_main">
              {% for post in posts %}
                <a class="sl_post" href="{{post.link}}">
                  <div class="sl_card sl_card--results">
                    <h3 class="sl_post__title">{{post.title|truncate(15)}}</h3>
                    <p>{{ function('the_excerpt') }}</p>
                  </div>
                </a>
              {% endfor %}

            {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}

          </main>{# /.sl_main #}
    </div>{# /.sl_inner #}
  </section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}

{% endblock %}