{% extends "module.twig" %}

{% block card %}

	{% if module.text %} 
		<h3>
			{{ module.text }}
			{% if module.button %}
				<a href="{{module.button.url}}" class="sl_button sl_button--alert show-for-large" target="{{module.button.target}}">{{module.button.title}}</a>
				<a href="{{module.button.url}}" class="hide-for-large" target="{{module.button.target}}"><i class="fas fa-arrow-right"></i></a>
			{% endif %}
		</h3>
	{% endif %}
	
{% endblock %}