{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner show-for-medium">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<h1>{{post.title}}</h1>

			<div class="sl_row">
				<div class="sl_cell xlarge-9 large-8 sl_content__main">

					<main id="main" class="sl_main">
						{{post.content}}
						{% for location in sanity_locations %}
							<div class="sl_location-loop">
								<h2>{{location.facilityName}}</h2>
									<div class="sl_row sl_location-loop__card">

										{# DUO CONTENT #}
										<div class="sl_location-loop__content sl_cell large-4">
											<div class="sl_card sl_card--location-loop">

												<p class="sl_location-loop__name">{{location.facilityName}}</p>
												<p class="sl_location-loop__address">{{location.facilityAddress}}
												<br>{% if location.facilityCity%}{{location.facilityCity}},{% endif %} {{location.facilityState}} {{location.facilityZip}}</a></p>

												{% if location.facilityPhone%}<a class="sl_card__phone">{{location.facilityPhone}}</a>{% endif %}
												{% if location.facilityDir%}<a class="sl_card__directions" href="{{location.facilityDir}}" target="_blank">Get Directions</a>{% endif %}
												{% if location.facilitySite%}<a class="sl_card__website" href="{{location.facilitySite}}" target="_blank">Visit Website</a>{% endif %}
											</div>{# /.sl_card #}
										</div>{# /.sl_location-loop__content #}

										{# DUO MEDIA #}
										{% if location.facilityImage %}
											<div class="sl_location-loop__image sl_cell large-8" style="background-image: url({{location.facilityImage}})">
										{% else %}
											<div class="sl_facility sl_cell large-8">
												<div class="sl_module__map">
													<div class="marker" data-lat="{{location.facilityLat}}" data-lng="{{location.facilityLng}}"></div>
												</div>
										{% endif %}
										</div>{# /.sl_location-loop__image #}
									</div>{# /.sl_row sl_location-loop__card #}
									{{location.facilityDesc}}
								<h3>Services</h3>
								<div class="sl_row sl_location-loop__services large-up-2">
									{% for item in location.serviceLine %}
									<div class="sl_cell">
										<a href="/services/{{item.slug}}">{{item.name}}</a>
									</div>{# /.sl_cell #}
									{% endfor %}
								</div>{# /.sl_location-loop__services #}
							</div>{# sl_location-loop #}
						{% endfor %}

						{% if post.meta('callout').content %}
							<div class="sl_callout sl_callout--cta">
								{{ post.meta('callout').content|wpautop }}
							</div>
						{% elseif option.global_cta %}
							<div class="sl_callout sl_callout--cta">
								{{ option.global_cta|wpautop }}
							</div>
						{% endif  %}


					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell xlarge-3 large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				{# <div class="sl_cell hide-for-large sl_content__sidebar">
					<div class="sl_sidebar">
						<div class="sl_sidebar__container">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end sl_sidebar__container -->
					</div><!-- end sl_sidebar -->
				</div>{#  /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}


