.sl_location {
	& > .sl_inner {
		& > .sl_row {
			background-color: get-color(accent2);
			border-radius: $border-radius;
			overflow: hidden;
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	&__content {
	}//end &__content
	
}//end .sl_location