.sl_module {
	padding-top: $spacing--xxl;

	@include breakpoint (small down) {
		padding-top: $spacing--lg;
	}//end small down breakpoint

	&:last-of-type {
		padding-bottom: $spacing--xl;

		@include breakpoint (small down) {
			padding-bottom: $spacing--lg;
		}//end small down breakpoint
	}//end &:last-of-type


	//UTILITY CLASSES
	&--notop {
		padding-top: 0 !important;

		@include breakpoint (large only) {
			padding-top: 0 !important;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0 !important;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0 !important;
		}//end small down breakpoint
	}//end &--notop

	&--nobottom {
		padding-bottom: 0 !important;

		@include breakpoint (large only) {
			padding-bottom: 0 !important;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--notop

	&--withbottom {
		padding-bottom: $spacing--xl;

		@include breakpoint (small down) {
			padding-bottom: $spacing--lg;
		}//end small down breakpoint
	}//end &--withbottom

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--overlaptop {
		margin-top: -$spacing--sm;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xl;

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--lg;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--expanded {
		& > .sl_inner {
			max-width: none !important;
			padding: 0 !important;
		}//end & > .sl_inner
	}//end &--expanded
}//end .sl_module