.sl_wildcard {
	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
		& > .sl_row {
			margin: 0 rem-calc(-20px);

			@include breakpoint (small only) {
				margin: 0 auto;
			}//end small only breakpoint

			& > .sl_cell {
				padding: 0 rem-calc(20px);

				@include breakpoint (small down) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--lg;
					}//end &:not(:last-of-type);
				}//end small down breakpoint
			}//end .sl_cell
		}//end .sl_row
	}//end .sl_inner

	&__callout {
		.sl_card {
			background-color: get-color(accent1);
			display: flex;
			align-items: center;
			padding: $spacing--xl $spacing--xl*2;
			min-height: 600px;

			@include breakpoint (small down) {
				padding: $spacing--xl $spacing--sm;
				min-height: 0;
			}//end small down breakpoint

			p {
				font-size: 2.5rem;
				line-height: 1.55;

				@include breakpoint (small down) {
					font-size: 1.75rem;
				}//end small down breakpoint
			}//end p
		}//end .sl_card
	}//end &__callout
}//end .sl_wildcard