.sl_row--shortcode {
	margin: 0 -$spacing--sm/2;

	@include breakpoint (small down) {
		margin: 0;
	}//end small down breakpoint

	& > .sl_cell {
		padding: 0 $spacing--sm/2;
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell

	&.small-up-2 {
		@include breakpoint (small down) {
			& > .sl_cell {
				padding: 0 $spacing--xs/2;
			}
		}//end small down breakpoint
	}//end &.small-up-2
}//end .sl_row--shortcode

.page-template-template-formatting {
	.sl_cell {
		padding: 0 $spacing--sm/2;
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell
}//end .sl_row--shortcode
	