//Gradients
$gradient--primary: linear-gradient(90deg, #3434A2 0%, #1D67CF 98%);
$gradient--secondary: linear-gradient(180deg, #02BFFF 0%, #018BFF 100%);
$gradient--accent: linear-gradient(180deg, #F6F6F6 0%, #E6E6E6 100%);
$gradient--border: linear-gradient(-90deg, #3434A2 0%, #0996F7 87%);