//1. Articles Archive Page
//2. Category Archive Page
//-------------------------

//1. ARTICLES ARCHIVE PAGE 
body.blog {
	.sl_content {
		border-top: 20px solid get-color(accent1);

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--xl 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint

			& > .sl_inner {
				& > h1 {
					width: 75%;

					@include breakpoint (large only) {
						width: 66.66667%
					}//end large only breakpoint

					@include breakpoint (medium down) {
						width: 100%;
					}//end medium down breakpoint
				}//end h1 
			}//end & > .sl_inner
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
			}//end medium down breakpoint
		}//end &__main

		.sl_article {
			width: 100%;
			&:not(:last-of-type) {
				margin-bottom: $spacing--xxl;
			}//end &:not(:last-of-type)

			&__date {
				font-size: rem-calc(14px);
				color: get-color(default);
				margin-bottom: $spacing--xs;
			}//end &__date

			&__preview {
				color: get-color(default);
			}//end &__preview
		}//end .sl_article
	}//end .sl_content
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	.sl_content {
		border-top: 20px solid get-color(accent1);

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--xl 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint

			& > .sl_inner {
				& > h1 {
					width: 75%;

					@include breakpoint (large only) {
						width: 66.66667%
					}//end large only breakpoint

					@include breakpoint (medium down) {
						width: 100%;
					}//end medium down breakpoint
				}//end h1 
			}//end & > .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
			}//end medium down breakpoint
		}//end &__main

		.sl_article {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xxl;
			}//end &:not(:last-of-type)
			
			&__date {
				font-size: rem-calc(14px);
				color: get-color(default);
				margin-bottom: $spacing--xs;
			}//end &__date

			&__preview {
				color: get-color(default);
			}//end &__preview
		}//end .sl_article

	}//end .sl_content
}//end body.category
//END CATEGORY ARCHIVE PAGE