.sl_sidebar {

	&__container {
	}//end &__container

	&__title {
		color: get-color(primary);
		font-family: $body-font-family;
		font-weight: $font-weight--bold;
		padding-bottom: $spacing--xs;
		margin-bottom: 0;
		margin-top: 0;
		border-bottom: 1px solid #E6E6E6;
		font-size: rem-calc(22px);
		line-height: 1.2;
	}//end &__title

	&__menu {
		margin: 0;
		list-style: none;

		& > li {
			margin-bottom: 0 !important;
			padding: $spacing--xs/2 0 $spacing--xs/2 $spacing--xs/2;
			border-bottom: 1px solid #E6E6E6;

			& > a {
				display: block;
				padding: $spacing--xs/2;
				font-weight: $font-weight--semibold;
				@include transition( all .3s ease-in-out);

				&:hover,&:focus {
					background-color: get-colot(accent2);
					color: get-color(secondary);
					@include transition( all .3s ease-in-out);
				}//end &:hover. &:focus
			}//end & > a

			&.current_page_item {
				& > a {
					background-color: get-color(accent2);
					color: get-color(secondary);
				}//end & > a
			}//end &.ccurent_page_item
		}//end & > li
	}//end &__menu

	&__repeater {
		&:not(:first-child) {
			margin-top: $spacing--xxxl;
		}//end &:not(:first-of-type)
	}//end &__repeater

	&__card {
		background-color: get-color(accent2);
		padding: $spacing--sm;
		text-align: left;
		border-radius: $border-radius;

		h3 {
			margin-top: 0;
			font-size: 1.25rem;
			font-weight: $font-weight--bold;
			font-family: $body-font-family;
		}//end h3

		a {
			&:not([class]) {
				font-weight: $font-weight--semibold;
				font-size: 1rem;
				color: get-color(primary);

				&:hover {
					color: get-color(secondary);
					text-decoration: underline;
				}//end &:hover
			}//end &:not([class])
		}//end a

		.sl_button--email-icon, .sl_button--phone-icon {
			font-weight: $font-weight--semibold;
			font-size: 1rem;
		}//end .sl_button--email-icon, .sl_butotn--phone-icon

		.sl_button, a {
			margin-bottom: 0;

			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type
		}//end .sl_button

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		&:not(:last-of-type) {
			margin-bottom: $spacing--sm;
		}//end &:not(:last-of-type)
	}//end &__card

	&__card-wrapper {
		background-color: get-color(primary);
		display: block;
		border-radius: $border-radius;
		overflow: hidden;
		margin-bottom: $spacing--sm;

		.sl_sidebar__card {
			background: none;
			margin-bottom: 0;

			h3 {
				font-size: rem-calc(22px);
				font-weight: $font-weight--semibold;
			}//end h3

			& * {
				color: get-color(inverse);
			}//end & *
		}//end .sl_sidebar__card
	}//end &__card-wrapper
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search