/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Simple Button
6. Icon Buttons
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
11. Back to Top Button
12. Video Button
13. Alert Button
14. Border Button
15. Callout Button
16. External Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(primary);
	font-weight: $font-weight--bold;
	padding: $spacing--xs $spacing--sm;
	border-radius: $border-radius;
	font-size: 1.125rem;


	&:hover {
		@include transition (all .2s ease-in-out);
		backgorund-color: get-color(secondary);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		width: 42px;
		height: 15px;
		background-image: url(#{$path-img}icon/mobile-menu.svg);
		background-position: center center;
		background-size: contain;
		border-radius: 0;
	}//end &--menu

//5. Simple Button
	&--simple {
		color: get-color(primary);
		background: none;
		border-radius: 0;
		padding: 0;
		line-height: 1.5;
		text-align: left;
		font-weight: $font-weight--semibold;

		@include breakpoint (small down) {
			font-size: 1.25rem;
		}//end small down breakpoint

		&:after {
			@include fontawesome($content: '\f061', $weight: 400);
			margin-left: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--simple

//6. Icon Buttons
	&--phone-icon{
		color: get-color(primary);
		background: none;
		border-radius: 0;
		padding: 0;

		&:before {
			@include fontawesome($content: '\f879');
			margin-right: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--phone-icon

	&--email-icon{
		color: get-color(primary);
		background: none;
		border-radius: 0;
		padding: 0;

		&:before {
			@include fontawesome($content: '\f0e0', $weight: 300);
			margin-right: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--phone-icon

//7. Pagination Button
	&--pagination {

	}//end &--pagination

//8. Social Buttons
	&--social {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		color: #DADADC;
		font-size: 2rem;
		background-color: transparent;

		&:hover, &:focus {
			background-color: transparent;
		}//end &:hover, &:focus

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		// &.sl_facebook {background-color: #3B5998;}
		// &.sl_twitter {background-color: #1DA1F2;};
		// &.sl_youtube {background-color: #FF0000;};
		// &.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//9. Share Button
	&--share {
		
	}//end .sl_button--share

//10. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//11. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 10;
		bottom: $spacing--xs;
		right: $spacing--xs;
		margin-bottom: 0;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: $shadow;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//12. Video Button
	&--video {
			background-color: get-color(inverse);
			border-radius: 50%;
			z-index: 1;
			height: 83px;
			width: 83px;
			position: relative;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before
	}//end &--video

	//13. Alert Button
	&--alert {
		background: none;
		border: 2px solid get-color(inverse);
		border-radius: $border-radius;
		font-family: $header-font-family;
		font-size: 1.125rem !important;
		padding: rem-calc(11px) $spacing--sm;
		margin-bottom: 0;
		box-shadow: none;

		&:hover, &:focus {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--alert

	//14. Border Button
	&--border {
		background: none;
		border: 2px solid get-color(inverse);
		border-radius: $border-radius;
		box-shadow: none;

		&:hover, &:focus {
			background-color: get-color(inverse);
			color: get-color(secondary);
		}//end &:hover
	}//end &--border

	//15. Callout Button
	&--callout {
		display: flex;
		width: 100%;
		background-color: get-color(accent2);
		color: get-color(primary);
		align-items: center;
		justify-content: center;
		padding: $spacing--lg $spacing--sm;
		font-size: 1.25rem;
		font-weight: $font-weight--semibold;

		&:hover, &:focus {
			text-decoration: underline !important;
			color: get-color(primary);
			background-color: darken(get-color(accent2), 5%);
		}//end &:hover
	}//end &--callout

	//16. External Button
	&--external {
		&:after {
			@include fontawesome($content: '\f35d', $weight: 400);
			margin-left: $spacing--xs/2;
			display: inline-block;
		}//end &:after
	}//end &--external


}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
