.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide &, .sl_card--wildcard &, .sl_card--latest_release & {
			min-height: 250px;

			@include breakpoint (medium only) {
				min-height: 200px
			}//end medium only breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__icon {
		height: 50px;
		text-align: center;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			height: 26px;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint

		img {
			height: 100%;
		}//end img
	}//end &__icon;

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide &, .sl_card--wildcard &, .sl_card--latest_release & {
			padding: $spacing--md;
			padding-bottom: $spacing--lg;

			@include breakpoint (medium down) {
				padding: $spacing--sm;
				padding-bottom: $spacing--lg;
			}//end medium down breakpoint

			& > .sl_button {
				position: absolute;
				bottom: $spacing--sm;
				right: $spacing--md;
			}//end & > .sl_button
		}//end .sl_deck &

		.sl_card--deck.sl_card--Icon & {
			padding: 0;
			text-align: center;

			h3{
				font-weight: $font-weight--bold;

				@include breakpoint (small down) {
					font-size: 1rem;
					line-height: 1.25;
				}//end small down breakpoint
			}//end h3
		}//end .sl_card--deck
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide, &--wildcard, &--latest_release {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);
		position: relative;
		border-radius: $border-radius;
		overflow: hidden;

		h3 {
			font-size: 1.25rem;
			font-weight: $font-weight--semibold;
		}//end h3

		& > .sl_button {
			position: absolute;
			bottom: $spacing--sm;
			right: $spacing--md;
		}//end & > .sl_button
	}//end &--deck, &--slide

	&--deck.sl_card--Icon {
		padding: $spacing--xl;
		border-radius: $border-radius;
		box-shadow: $shadow;
		background: $gradient--accent;

		@include breakpoint (large only) {
			padding: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}//end small down breakpoint
	}//end &--deck.sl_card--Icon

	&--deck.sl_card--Article, &--latest_release {
		@include breakpoint (medium only) {
			display: flex;
			flex-direction: row;

			.sl_card__image {
				width: 300px;
				flex: 0 0 auto;
			}//end .sl_card__image
		}//end medium only breakpoint
	}//end &--deck.sl_card--Article

	&--duo {
		background-color: get-color(accent2);
		padding: $spacing--lg;

		@include breakpoint (medium down) {
			padding: $spacing--md $spacing--sm;
		}//end medium down breakpoint
	}//end &--duo

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--location {
		padding: $spacing--xxl $spacing--xl $spacing--xxl 0;

		@include breakpoint (medium only) {
			padding: $spacing--lg $spacing--md $spacing--lg 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--location

	&--service-locations {
		border: 1px solid #E5E5E5;
		border-radius: $border-radius;
		padding: 0;
	}//end service-locations

	&--location-loop {
		padding: $spacing--md;

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--xs;
		}//end small down breakpoint
	}//end &--location

	&--map {
		border-top: 5px solid get-color(secondary);
		padding: $spacing--sm $spacing--xs;
		background-color: get-color(inverse);
	}//end &--map

	&--pin {
		padding: $spacing--xs/2;

		p {
			font-size: 1rem;
			font-weight: $font-weight--bold;
			line-height: 1.25;
			margin-bottom: 0;
			font-family: $body-font-family;

			&:last-of-type {
				margin-bottom: $spacing--xs/2;
			}//end &:last-of-type
			
		}//end p

		a {
			font-family: $body-font-family;
			font-weight: $font-weight--semibold;
			font-size: 1rem;
			outline: none;

			&:hover {
				text-decoration: underline;
			}//end &:hover
		}//end a
	}//end &--pin

	&--results {
		background-color: get-color(accent2);
	}//end &--results

	&--blog {
		display: flex;
		flex-direction: row;
		padding: 0;
		width: 100%;

		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint

		.sl_card__image {
			height: 200px;
			width: 300px;
			flex: 0 0 auto;
			border-radius: $border-radius;

			@include breakpoint (large only) {
				height: 150px;
				width: 250px;
			}//end large only breakpoint

			@include breakpoint (small down) {
				width: 100%;
			}//end small down breakpoint
		}//end .sl_card__image

		.sl_card__content {
			padding-left: $spacing--lg;
			flex: 1 1;
			width: 100%;

			& > * {
				width: 100%;
			}//end & > *

			@include breakpoint (xlarge only) {
				padding-left: $spacing--md
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-left: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding-left: 0;
				padding-top: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card__content

		h3 {
			margin: 0 auto;
			margin-bottom: $spacing--xs/2;
			font-family: $body-font-family;
			font-weight: $font-weight--semibold;
		}//end h3
	}//end &--blog

	&--reputation {
		background: none;

		iframe {
			height: 100% !important;
			min-height: 300px;
		}//end iframe

	}//end &--reputation
}//end .sl_card

//CARD WRAPPERS
a.sl_card__wrapper {
	display: block;
	height: 100%;
}//end .sl_card__wrapper
