.sl_pagination {
	&__list {
		list-style: none;
		margin: 0;

		& > li {
			display: inline-block;
			margin-bottom: 0;

			&:not(:last-of-type) {
				padding-right: $spacing--xs/2;
			}//end &:not(:last-of-type)
		}//end & > li
	}//end &__list
}//end .sl_pagination